.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

/**
Upside down ;)
I bet this is not what you mean
 */
.silly {
  transform: rotateZ(180deg);
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}
